.footer {
    width: 100%;
    font-size: 12px;
    margin-top: 0;
    background-color: #003580; /* Optional: Add a background color for better visual separation */
  }
  
  .container {
    max-width: 1024px;
    margin: 0 auto; /* This centers the container */
    padding: 0 15px; /* Adds padding to ensure space on smaller screens */
  }
  
  .fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .fList {
    list-style: none;
    padding: 0;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .fText {
    font-size: medium;
    padding-bottom: 25px;
    text-align: center; /* Centers the copyright text */
  }
  